body{
    background-color: beige;
} 
#main{
   // padding:0.3cm 2cm;
   text-align:justify;
    top:170px;
    color:green;
   
    position:absolute;
    }
td{   
    border: 2px solid green;
    width:70em;
    height:3px;
    text-align:center;
}
table{
   
    margin-left:70px;
    width:80%;
}
table :hover{
    background:lightgrey;
}
#body{
    display:none;
} 
h1{
    text-align:center;
    font-family: Times New Roman;
    color:blue;
}
p{
    display:none;
}  
#box{
    display:none;
} 
#open_box{
    position:absolute;
    right:30px;
    margin-top:90px;
}
#add_new_rows{
    display:none;
}
#up{
    font-family:sans-serif;
    font-weight:bolder;
   font-size:25px;
    position:absolute;
    top:75px;
    left:70px;
    color: gold;
}
span{
   // position:relative;
    font-size:20px;
    top:60px;
    left:50px;
    color:purple;
} 