body{
    background-color: beige;
}
#main{
   // padding:0.3cm 2cm;
   text-align:justify;
    top:170px;
    color:green;
    
    position:absolute;
    }
 table, td {
    border: 1px solid green;
    width:79em;
    height:3px;
}
#body{
    display:none;
}
h1{
    text-align:center;
    font-family: Times New Roman;
    color:blue;
}
p{
    display:none;
}
#box{
    display:none;
}
#open_box{
    position:absolute;
    right:10px;
    margin-top:60px;
}