
#main{
   // padding:0.3cm 2cm;
   text-align:justify;
    top:170px;
    color:green;
   
    position:absolute;
    }
 table, td {
    border: 1px solid black;
    width:80em;
    height:3px;
}
#body{
    display:none;
}
    